
  
  .star-container {
    background-color: #35414F;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 25px;
  }
  
  .star-container img {
    position: relative;
    top: 11.5px;
    left: 12px;
    width: 40%;
  }
  
  .text-container {
    padding-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .text-container h1 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .text-container p {
    color: #959EAC;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  
  .numbers-cont {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
    cursor: pointer;
  
  }
  
  .number {
    background-color: #35414F;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
  
  .number:hover {
    background-color: #FB7413;
  }

  button {
    background-color: #FB7413;
    border: none;
    margin-top: 20px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 83%;
    cursor: pointer;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    user-select: none;
  }
  
  button:hover {
    background-color: white;
    color:#FB7413;
  }
  
  .selected {
    background-color: #83888d;
  }